{% extends 'base.html' %}
{% block content %}
    <div class="clear"><br /></div>
    <div>
        <center>
        <div>
            <h1 class="jatext">Меня зовут Валерия Маршенюк</h1><br />
            <h2 class="jatext">Добро пожаловать в мою студию макияжа. Я являюсь мастером!</h2>
        </div>
            <div><img  id="ja" src="../static/ja.png" title="Waleria Marszeniuk"/></div>
                 <center>
                 <h2 id="textbio">
                    Макияж — это не только рисование, нанесение декоративной косметики на лицо, но и моделирование,
                    зрительная коррекция форм и цвета лица.
                    С помощью макияжа можно изменить внешность и выглядеть совершенно иначе.
                    Удачный макияж подчёркивает привлекательные черты, скрывает несовершенства кожи (тёмные круги под глазами,
                    пигментные пятна, неровности рельефа), корректирует диспропорцию черт, создаёт здоровый вид лица,
                    даёт возможность меняться и выглядеть моложе.
                 </h2>
                 </center>
        </center>
    </div>
{% endblock %}