{% extends 'base.html' %}
{% block content %}
<h2 id="page-wrap">
        <div class="clear"><br /></div>
        <center>
    <div><h1 id="nazvavidy">Day Style<hr /></h1>

    <h2 class="fulltextvidy">Один из самых популярных макияжей – дневной. Он наиболее нейтральный и незаметный.
        К ответвлениям этого макияжа относятся деловой (или же офисный), нюдовый и классический. Для этого стиля характерно
        использование светлых нейтральных цветов. Дневной мэйк также часто называют «макияж без макияжа», поскольку он должен
        быть максимально незаметным. Дневной макияж призван не привлекать внимание к вашему образу, а скрывать какие-то недостатки.</h2>
        <center>
            <img src="../static/daystyle.png" width="800" height="800" title="daystyle">
        </center>
        <h2 class="fulltextvidy">При помощи хорошей косметики вы будете выглядеть так, будто ваша внешность естественна и
            красива от природы.</h2>

    <h2 class="fulltextvidy">Для такого макияжа достаточно светлого тонального крема, который подходит по тону под вашу кожу,
        нюдовой палетки теней и туши.
        С помощью этих базовых продуктов вы можете создать идеальный мэйк, который вечером можно будет превратить в что-то более заметное
        и эффектное.
    </h2>
    </div>
        </center>
</h2>

{% endblock %}