{% extends 'base.html' %}
{% block content %}
    <h2 id="page-wrap">
        <div class="clear"><br /></div>
        <center>
    <div><h1 id="nazvavidy">Lifting<hr /></h1>

    <h2 class="fulltextvidy">Макияж с эффектом лифтинга имеет много общего с техникой стробинга. Такой тип сейчас чаще
        используется зрелыми женщинами для того, чтобы скрыть недостатки, которые проявляются на коже с возрастом.
        Этот макияж также часто называют омолаживающим. </h2>

        <center>
            <img src="../static/lifting.png" width="800" height="800" title="lifting">
        </center>
        <h2 class="fulltextvidy">Для выполнения мэйка в этой технике используются бронзер,
        хайлайтер и простые матовые тени.</h2>

        </h2>
        </div>
        </center>
</h2>


{% endblock %}