{% extends 'base.html' %}
{% block content %}

    <div class="clear"><br /></div>

    <div>
        <center>
            <h1>Макияж</h1><br />
            <h2 class="smalltextmakijaz">это не только рисование, нанесение декоративной косметики на лицо, но и моделирование, зрительная коррекция
            форм и цвета лица. С помощью макияжа можно изменить внешность и выглядеть совершенно иначе.

            Удачный макияж подчёркивает привлекательные черты, скрывает несовершенства кожи (тёмные круги под глазами,
            пигментные пятна, неровности рельефа), корректирует диспропорцию черт, создаёт здоровый вид лица,
            даёт возможность меняться и выглядеть моложе.

                    <div class="clear"><br /></div>
                <h1>Особенности и преимущества</h1><br />
    <h2 class="smalltextmakijaz">Разные виды макияжа имеют непохожие друг на друга преимущества. Но есть какие-то основные моменты. Так, любой правильно
        подобранный мэйк позволяет сделать внешность более приближенной к идеалу. Вы можете сделать глаза больше, а взгляд открытым,
        приподнять опущенное веко или сделать гуы пухлыми, а нос – длинным. Сочетайте правильные оттенки и техники, и всегда будете
        выглядеть эффектно.
        К недостаткам любого макияжа можно отнести тот факт, что, если вы сделаете что-то неправильно или будете пользоваться
        некачественно косметикой, то это только усугубит ситуацию.</h2>

                   <div class="clear"><br /></div>
                <h1>Как выбрать косметику?</h1><br />
    <h2 class="smalltextmakijaz">Качественная косметика может быть представлена в любом ценовом сегменте. Не стоит думать,
        что более дешевая косметика всегда плохая. Существуют доступные бренды, которые позволяют красиво краситься даже тем,
        у кого не так много денег. Давайте рассмотрим детально, как подбирать продукты, которые действительно вам подходят.</h2>

                <div class="clear"><br /></div>
                <h1>Тон</h1><br />
    <h2 class="smalltextmakijaz">Начать подробное описание стоит с основы макияжа – тона. Существую разные типы тональных средств,
        которые могут использовать девушки и с жирной, и с сухой кожей. Если у вас сухой эпидермис, то покупайте продукт с эффектом увлажнения.
        А вот обладательницам жирной кожи визажисты настоятельно рекомендуют матирующие кремы. С ними вы сможете забыть о необходимости
        постоянно припудривать кожу.
        Если основа ложится на кожу плохо, постоянно скатывается или не держится на лице, то вам понадобится хорошая база под тон.
        Подбирать ее стоит по тому же принципу. Так, если у вас пересушенная или сухая от природы кожа, то выбирайте простое средство с
        легким увлажняющим эффектом. Девушкам с жирной кожей подойдет более плотная основа, которая дает легкий матовый эффект.</h2>

         </center>
    </div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    {% endblock %}