{% extends 'base.html' %}
{% block content %}
<h2 id="page-wrap">
        <div class="clear"><br /></div>
        <center>
    <div><h1 id="nazvavidy">Marriege<hr /></h1>

    <h2 class="fulltextvidy">Свадьба – это особое событие. В этот день любой девушке хочется выглядеть эффектно и привлекательно.
        Свадебный макияж, как и вечерний, может быть чуть ярче и выразительнее обычного. Но в то же время он должен вам подходить.
        Для такого торжественного события, как правило, используют светлые тона, перламутровые оттенки и светлые блески.
        Именно они лучше всего будут сочетаться с пышным белым платьем.</h2>

        <center>
            <img src="../static/marriege.png" width="800" height="800" title="marriege">
        </center>
        <h2 class="fulltextvidy">Но все же не стоит слепо следовать правилам и выбирать стандартный макияж, который подходит всем без исключения.
        Акцентируя внимание на своих достоинствах, можно получить идеальный макияж и стать действительно одной из самых красивых невест.</h2>
        </div>
        </center>
</h2>
    {% endblock %}