{% extends 'base.html' %}
{% block content %}



<h2 id="page-wrap">
        <div class="clear"><br /></div>
        <center>
            <h1 id="textmyjob">Мои работы</h1><br />
            <img class="picturemywork" src="../static/mywork1.png" width="800" height="800" title="my work">
            <img class="picturemywork" src="../static/mywork2.png" width="800" height="800" title="my work">
            <img class="picturemywork" src="../static/mywork3.png" width="800" height="800" title="my work">
            <img class="picturemywork" src="../static/mywork4.png" width="800" height="800" title="my work">
        </center>
</h2>

    {% endblock %}