<link rel="stylesheet" type="text/css" href="../static/file.css">
{% extends 'base.html' %}
{% block content %}
<h2 id="page-wrap">

            <div class="clear"><br /></div>
    <center>
            <div id="nazvavidy">Ceny<hr /></div>
        <table>
            <tr>
                <td class="vidylink1"></td>
            <td><a href="/strobing" class="vidylink1">Strobing</a></td>
            <th><a href="/daystyle" class="vidylink1">Day Style</a></th>
            <th><a href="/eveningstyle" class="vidylink1">Evening Style</a></th>
            <th><a href="/smokeyeyes" class="vidylink1">Smokey Eyes</a></th>
            <th><a href="/tumbler" class="vidylink1">Tumbler</a></th>
            <th><a href="/lifting" class="vidylink1">Lifting</a></th>
            <th><a href="/marriege" class="vidylink1">Marriege</a></th>
            <th><a href="/retro" class="vidylink1">Retro</a></th>
            <th><a href="/chicago" class="vidylink1">Chicago</a></th>
            </tr>
            <tr>
                 <td class="fulltextvidy">Ceny</td>
                 <td class="fulltextvidy">200zl</td>
                 <td class="fulltextvidy">200zl</td>
                 <td class="fulltextvidy">200zl</td>
                 <td class="fulltextvidy">200zl</td>
                 <td class="fulltextvidy">200zl</td>
                 <td class="fulltextvidy">200zl</td>
                 <td class="fulltextvidy">200zl</td>
                 <td class="fulltextvidy">200zl</td>
                 <td class="fulltextvidy">200zl</td>
            </tr>
            <tr>
                 <td class="fulltextvidy">Czas zrobienia</td>
                 <td class="fulltextvidy">2 godz</td>
                 <td class="fulltextvidy">2 godz</td>
                 <td class="fulltextvidy">2 godz</td>
                 <td class="fulltextvidy">2 godz</td>
                 <td class="fulltextvidy">1,5 godz</td>
                 <td class="fulltextvidy">2 godz</td>
                 <td class="fulltextvidy">3 godz</td>
                 <td class="fulltextvidy">1,5 godz</td>
                 <td class="fulltextvidy">2 godz</td>
            </tr>
        </table>
    </center>
</h2>




{% endblock %}
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />v