{% extends 'base.html' %}
{% block content %}
   <h2 id="page-wrap">
        <div class="clear"><br /></div>
        <center>
    <div><h1 id="nazvavidy">Smokey Eyes<hr /></h1>

    <h2 class="fulltextvidy">Данный тип макияжа позволяет сделать акцент на глазах. Соответственно, они придает взгляду
        сексуальности. Такой тип макияжа вполне может быть выполнен в разных цветах. Не стоит ограничиваться классическими
        темными тонами. Все зависит от того, какой у вас цветотип.</h2>

        <center>
            <img src="../static/smokeyeyes.png" width="800" height="800" title="smokeyeyes">
        </center>
        <h2 class="fulltextvidy">Главная характеристика этого макияжа – плавные линии и хорошо растушеванные цвета, которые переходят из более
            светлого в темный. Дымчатый эффект прекрасно подходит для вечернего макияжа.</h2>

        </h2>
        </div>
        </center>
</h2>

    {% endblock %}