{% extends 'base.html' %}
{% block content %}
<h2 id="page-wrap">
        <div class="clear"><br /></div>
        <center>
    <div><h1 id="nazvavidy">Tumbler<hr /></h1>

    <h2 class="fulltextvidy">Tumblr-макияж предполагает использование ярких цветов, блесток и необычных деталей.
        Этот стиль был особенно популярен в начале этого десятилетия. Но и сейчас девушки с удовольствием раскрашивают глаза
        пастельными тенями и клеят стразы на кожу.</h2>
        <center>
            <img src="../static/tumbler.png" width="800" height="800" title="tumbler">
        </center>
        <h2> Этот макияж, как может показаться, имеет много общего с мэйком в стиле поп-арт.</h2>
        </div>
        </center>
</h2>
    {% endblock %}