{% extends 'base.html' %}
{% block content %}
    <div class="clear"><br /></div>
    <center>
            <div id="vidy">Виды макияжа<hr /></div>
            <div id="vidyHrefs">
                <ul id="vidyul">
                    <li><a href="/strobing" class="vidylink">Strobing</a></li>
                    <li><a href="/daystyle" class="vidylink">Day Style</a></li>
                    <li><a href="/eveningstyle" class="vidylink">Evening Style</a></li>
                    <li><a href="/smokeyeyes" class="vidylink">Smokey Eyes</a></li>
                    <li><a href="/tumbler" class="vidylink">Tumbler</a></li>
                    <li><a href="/lifting" class="vidylink">Lifting</a></li>
                    <li><a href="/marriege" class="vidylink">Marriege</a></li>
                    <li><a href="/retro" class="vidylink">Retro</a></li>
                    <li><a href="/chicago" class="vidylink">Chicago</a></li>
                </ul>
            </div>
    </center>
    </div>
{% endblock %}